extends /template/base/base
include /atom/button/button
include /atom/console/console

block content
  h1 Weather in #{capitalize(weather.locationName)}
  +console(weather)

  p
    img(src='http://openweathermap.org/img/w/${weather.iconCode}.png')
    | #{weather.temp} °C

  p #{weather.description}
